:root {
    --text-color: black;

    --background: #fbebce;
    --background-2: #fbebceCE;

    --red: #B03A2E;
    --vert: #003400;
    --vert-2: #003400AA;
    --Jaune: #ffcc00;
    
    --shadow-element: 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 5px 8px 0 rgba(0, 0, 0, 0.1);
}